* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  background-color: rgb(168, 234, 248);
}

.title {
  margin-top: 20rem;
  margin-bottom: 1.5rem;
}

.description-text {
  text-align: center;
  font-size: 2rem;
}

.content {
  margin-top: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-container {
  display: flex;
}

#price-dropdown {
  display: none;
}

.search-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

#loading-div {
  display: none;
}

.product-name-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

#product-display-table {
  font-size: 2rem;
}

.image-col {
  max-width: 50rem;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.name-col {
  max-width: 40rem;
}

td {
  text-align: center;
  padding: 1rem;
}

/* table,
td,
th {
  border: 0.1rem solid #aaa;
}

table {
  border-collapse: collapse;
}

th {
  height: 3rem;
}

td {
  text-align: center;
  padding: 1rem;
} */
